* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 77px;
    font-weight: 700;
}

h2 {
    font-size: 64px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 28px;
}

header {
    height: 1000px;
}

/* Navigation */

.nav-bar {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sing_up_link {
    padding: 20px 30px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    background-color: rgba(246, 125, 13, 1);
    transition: .2s linear;
}

.sing_up_link:hover {
    background-color: rgb(211, 106, 9);
}

/* Title */

.title {
    background: url("photos/general.png") no-repeat;
    background-size: cover;
    height: 750px;
    padding-top: 50px;
}

.title_content {
    color: white;
    max-width: 500px;
    margin-left: 380px;
}

.title_text {
    color: white;
}

.title_address {
    margin-top: 20px;
    line-height: 1.7;
}

.title_number {
    margin-top: 20px;
}

.title_links {
    margin-top: 40px;
}

.title_timetable_link {
    font-size: 24px;
    padding: 20px 30px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    background-color: rgba(189, 56, 176, 1);
    transition: .2s linear;
}

.title_timetable_link:hover {
    background-color: rgba(189, 56, 176, 0.7);
}

.title_sing_up_link {
    font-size: 24px;
    padding: 20px 30px;
    margin-left: 20px;
    font-weight: 700;
    color: black;
    border-radius: 30px;
    background-color: rgb(88, 238, 36);
    transition: .2s linear;
}

.title_sing_up_link:hover {
    background-color: rgba(88, 238, 36, 0.7);
}

/* About */

.about {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about_title {
    text-align: center;
}

.about_content {
    max-width: 560px;
}

/* Post */

.post {
    margin-top: 50px;
    background: url("photos/train.png") no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_title {
    color: white;
    font-size: 77px;
}

.post_link {
    font-size: 24px;
    margin-top: 50px;
    padding: 20px 30px;
    margin-left: 20px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    background-color: rgba(71, 221, 254, 1);
    transition: .2s linear;
}

.post_link:hover {
    background-color: rgba(71, 221, 254, 0.7);
}

/* Team */

.team {
    margin-top: 100px;
    text-align: center;
}

.team_title {
    text-transform: uppercase;
    text-align: center;
}

.team_paragraph {
    margin: 30px auto 0;
    width: 700px;
}

.team_trainers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_trainer_card {
    margin-top: 50px;
    width: 335px;
}

.team_trainer_name {
    margin-top: 20px;
    font-weight: 700;
}

.team_trainer_info {
    margin-top: 20px;
}

/* Timetable*/

.timetable {
    margin-top: 100px;
    text-align: center;
}

.timetable_title {
    text-transform: uppercase;
    text-align: center;
}

/* Price */

.price {
    margin-top: 100px;
}

.price_title {
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
}

.price_address {
    font-size: 36px;
    margin: 100px 0 20px;
    padding-left: 10px;
}

.price_row {
    font-size: 36px;
    padding: 5px 10px;
}

.price_row:nth-child(odd) {
    background-color: #dcdcdc;
}

.price_value_first {
    text-transform: uppercase;
    color: #d01818;
}

.price_value {
    float: right;
}

/* Form */

.form {
    margin-top: 150px;
}

.form_block {
    display: flex;
    justify-content: space-between;
}

.form_photo {
    height: 740px;
}

.form_content {
    height: 740px;
    width: 600px;
    background: linear-gradient(180deg, #120404 0%, rgba(18, 4, 4, 0.95) 100%);
    border-radius: 60px;
}

.form_content_title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.form_content_subtitle {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.form_content_subtitle_inner {
    color: rgba(224, 2, 2, 0.84);
    font-weight: 700;
}

.form_label {
    color: white;
}

.form_content_title {
    margin-top: 50px;
    text-align: center;
}

.form_content_subtitle {
    width: 375px;
    text-align: center;
    margin: 20px auto;
}

.form_content_fields {
    width: 475px;
    margin: 0 auto;
}

.form_label {
    font-size: 24px;
}

.form_input {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    padding-left: 15px;
    width: 460px;
    height: 70px;
    border: rgb(157, 0, 0) 4px solid;
    background-color: rgba(18, 4, 4, 1);
    color: white;
    transition: 0.2s linear;
}

.form_input:focus {
    border-color: #600000;
    outline: 0;
}

.form_submit_button {
    display: block;
    width: 230px;
    height: 60px;
    margin: 10px auto;
    font-size: 24px;
    background-color: rgba(18, 4, 4, 1);
    color: white;
    border: rgb(157, 0, 0) 4px solid;
    transition: 0.2s linear;
}

.form_submit_button:hover {
    border-color: #600000;
}

/* Contacts */

.contacts {
    margin-top: 100px;
}

.contacts_title {
    text-transform: uppercase;
    text-align: center;
}

.contacts_content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.contacts_phones {
    width: 585px;
}

.contacts_phones_group {
    margin-top: 25px;
}

.contacts_phones_content {
    font-size: 36px;
}

.contacts_phones_title {
    font-size: 36px;
}

.contacts_socials {
    width: 400px;
}

.contacts_socials_title {
    font-size: 36px;
}

.contacts_socials_icons {
    margin-top: 25px;
    margin-left: 10px;
}

.contacts_map_title {
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
}

.contacts_map {
    margin-top: 50px;
}

/* Gallery */

.gallery {
    margin-top: 100px;
}

.gallery_title {
    text-transform: uppercase;
    text-align: center;
}

.slider {
    position: relative;
    height: 600px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.slider-slides {
    position: relative;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.slider-slide {
    float: left;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.slider-dots {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.slider-dot,
.slider-indicator {
    display: block;
    margin: 0 5px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.slider-indicator {
    position: absolute;
    background: white;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.slider-indicator-left {
    transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider-indicator-right {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

/* Footer */

footer {
    margin-top: 100px;
    height: 400px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(204, 206, 200, 0.5) 0%, rgba(204, 206, 200, 0.2) 50.52%, rgba(204, 206, 200, 0.5) 100%);
}

.footer_contacts {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-size: 36px;
}

.footer_address {
    width: 500px;
}

.footer_phones {
    width: 390px;
}

.footer_mail {
    width: 330px;
}

.footer_logo {
    margin-top: 30px;
    width: 90px;
}

.footer_socials {
    margin-top: 50px;
    float: right;
}